footer {
    @include flex-between-center;

    ul {
        margin: 20px;
        @include flex-between-center;

        @media (max-width: 768px) {
            flex-direction: row;
            width: 100%;
            @include flex-between-center;

        }
    }

    li {
        list-style: none;

        a {
            text-decoration: none;
            font-size: $paragraph-size;
            font-weight: $paragraph-weight;
            line-height: $list-height;
            padding-bottom: 5px;
            color: $paragraph-color;

            &:hover {
                transition: 0.5s;
                color: $brand-color;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}